workflow.json
{
  "name": "Daily Reminder Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 7 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'trip' as _type, t.* FROM trips t WHERE status = 'active' AND start_date >= CURRENT_DATE UNION ALL SELECT 'recurring' as _type, NULL, re.title, NULL, re.start_date::text, re.end_date::text, re.status::text, NULL, NULL, NULL, re.notes, re.created_at::text, re.updated_at::text FROM recurring_events re WHERE status = 'active' AND start_date <= CURRENT_DATE + 1 AND end_date >= CURRENT_DATE",
        "options": {}
      },
      "id": "query-all-bad",
      "name": "DO NOT USE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-500, -500],
      "disabled": true,
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM trips WHERE status = 'active' AND start_date >= CURRENT_DATE",
        "options": {}
      },
      "id": "query-trips",
      "name": "Query Trips",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 200],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM recurring_events WHERE status = 'active' AND start_date <= CURRENT_DATE + 30 AND end_date >= CURRENT_DATE",
        "options": {}
      },
      "id": "query-recurring",
      "name": "Query Recurring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 200],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM maintenance_items WHERE status = 'active'",
        "options": {}
      },
      "id": "query-maintenance",
      "name": "Query Maintenance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [750, 200],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---- HELPERS ----\nfunction fmtDate(s) {\n  if (!s) return '';\n  const d = new Date(s);\n  return d.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric', timeZone: 'America/Los_Angeles' });\n}\nfunction parseDate(s) {\n  // Parse a DB date to a local-midnight Date for day-diff math\n  const d = new Date(s);\n  const ds = d.toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' });\n  return new Date(ds + 'T00:00:00');\n}\nfunction fmtTime(s) {\n  if (!s) return '';\n  const [h, m] = s.split(':').map(Number);\n  const ampm = h >= 12 ? 'PM' : 'AM';\n  const h12 = h % 12 || 12;\n  return m === 0 ? `${h12} ${ampm}` : `${h12}:${String(m).padStart(2, '0')} ${ampm}`;\n}\n\n// ---- HELPERS: deduplicate by id ----\nfunction dedup(items) {\n  const seen = new Set();\n  return items.filter(i => {\n    const id = i.json.id;\n    if (seen.has(id)) return false;\n    seen.add(id);\n    return true;\n  });\n}\n\n// ---- TIMEZONE-AWARE TODAY ----\n// n8n task runner uses UTC; derive today from Pacific time\nconst TZ = 'America/Los_Angeles';\nconst nowPacific = new Date().toLocaleDateString('en-CA', { timeZone: TZ }); // 'YYYY-MM-DD'\nconst today = new Date(nowPacific + 'T00:00:00');\n\n// ---- PROCESS TRIPS ----\nconst tripRows = dedup($('Query Trips').all());\n\nconst trips = [];\nfor (const item of tripRows) {\n  const trip = item.json;\n  if (!trip.start_date) continue;\n  const startDate = parseDate(trip.start_date);\n  const daysRemaining = Math.round((startDate - today) / (1000 * 60 * 60 * 24));\n  if (daysRemaining > 30) continue;\n\n  const t30 = typeof trip.tier_30 === 'string' ? JSON.parse(trip.tier_30) : (trip.tier_30 || {});\n  const t7 = typeof trip.tier_7 === 'string' ? JSON.parse(trip.tier_7) : (trip.tier_7 || {});\n  const t1 = typeof trip.tier_1 === 'string' ? JSON.parse(trip.tier_1) : (trip.tier_1 || {});\n\n  let tierData = {};\n  if (daysRemaining <= 1) {\n    tierData = { ...t30, ...t7, ...t1 };\n  } else if (daysRemaining <= 7) {\n    tierData = { ...t30, ...t7 };\n  } else {\n    tierData = { ...t30 };\n  }\n\n  trips.push({ title: trip.title, destination: trip.destination, start_date: trip.start_date, end_date: trip.end_date, days_remaining: daysRemaining, tierData, notes: trip.notes });\n}\n\n// ---- PROCESS RECURRING EVENTS ----\nconst recurringRows = dedup($('Query Recurring').all());\nconst tomorrow = new Date(today);\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst dayMap = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'];\nconst dayLabels = { mon: 'Mon', tue: 'Tue', wed: 'Wed', thu: 'Thu', fri: 'Fri', sat: 'Sat', sun: 'Sun' };\nconst todayDay = dayMap[today.getDay()];\nconst tomorrowDay = dayMap[tomorrow.getDay()];\n\nconst recurring = [];\nfor (const item of recurringRows) {\n  const ev = item.json;\n  if (!ev.days) continue;\n  const days = Array.isArray(ev.days) ? ev.days : (typeof ev.days === 'string' ? ev.days.replace(/[{}]/g, '').split(',') : []);\n  const evStart = parseDate(ev.start_date);\n  const evEnd = parseDate(ev.end_date);\n  const daysUntilStart = Math.round((evStart - today) / (1000 * 60 * 60 * 24));\n  const daysList = days.map(d => dayLabels[d] || d).join(' & ');\n\n  if (daysUntilStart > 1) {\n    recurring.push({ title: ev.title, location: ev.location, start_time: ev.start_time, end_time: ev.end_time, start_date: ev.start_date, end_date: ev.end_date, daysList, reminders: [{ type: 'countdown', label: `Starts in ${daysUntilStart} days` }], notes: ev.notes });\n    continue;\n  }\n\n  const reminders = [];\n  if (ev.remind_morning_of !== false && days.includes(todayDay) && today >= evStart && today <= evEnd) {\n    reminders.push({ type: 'today', label: 'Today' });\n  }\n  if (ev.remind_day_before !== false && days.includes(tomorrowDay) && tomorrow >= evStart && tomorrow <= evEnd) {\n    reminders.push({ type: 'tomorrow', label: 'Tomorrow' });\n  }\n  if (daysUntilStart === 1) {\n    reminders.push({ type: 'countdown', label: 'Starts tomorrow' });\n  }\n  if (reminders.length > 0) {\n    recurring.push({ title: ev.title, location: ev.location, start_time: ev.start_time, end_time: ev.end_time, start_date: ev.start_date, end_date: ev.end_date, daysList, reminders, notes: ev.notes });\n  }\n}\n\n// ---- PROCESS MAINTENANCE ----\nconst maintenanceRows = dedup($('Query Maintenance').all());\nconst maintenance = [];\nfor (const item of maintenanceRows) {\n  const m = item.json;\n  if (!m.last_performed || !m.frequency_days) continue;\n  const lastPerformed = parseDate(m.last_performed);\n  const nextDue = new Date(lastPerformed);\n  nextDue.setDate(nextDue.getDate() + m.frequency_days);\n  const daysUntilDue = Math.round((nextDue - today) / (1000 * 60 * 60 * 24));\n\n  maintenance.push({\n    title: m.title, category: m.category, frequency_days: m.frequency_days,\n    last_performed: m.last_performed, next_due: nextDue.toISOString().split('T')[0],\n    days_until_due: daysUntilDue, is_overdue: daysUntilDue <= 0,\n    is_due_soon: daysUntilDue > 0 && daysUntilDue <= 7, priority: m.priority, notes: m.notes\n  });\n}\nmaintenance.sort((a, b) => a.days_until_due - b.days_until_due);\n\n// ---- CHECK IF ANY CONTENT ----\nconst hasContent = trips.length > 0 || recurring.length > 0 || maintenance.length > 0;\nif (!hasContent) {\n  return [{ json: { hasContent: false } }];\n}\n\n// ---- BUILD HTML ----\nconst dateStr = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: TZ });\n\nlet html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f7;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f7;\">\n<tr><td align=\"center\" style=\"padding:24px 16px;\">\n<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06);\">\n<tr><td style=\"background-color:#1a1a2e;color:#ffffff;padding:24px 32px;\">\n  <h1 style=\"margin:0;font-size:22px;font-weight:600;\">Daily Digest &mdash; ${dateStr}</h1>\n  <p style=\"margin:8px 0 0;font-size:14px;color:#a0a0b8;\">Your reminders for today</p>\n</td></tr>`;\n\nif (trips.length > 0) {\n  html += `<tr><td style=\"padding:24px 32px 8px;\"><h2 style=\"margin:0;font-size:16px;color:#6c63ff;text-transform:uppercase;letter-spacing:1px;\">Upcoming Trips</h2></td></tr>`;\n  for (const d of trips) {\n    const td = d.tierData || {};\n    html += `<tr><td style=\"padding:8px 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e8e8ef;border-radius:8px;overflow:hidden;\"><tr>`;\n    html += `<td width=\"80\" style=\"background-color:#6c63ff;color:#fff;text-align:center;vertical-align:middle;padding:16px 8px;\"><div style=\"font-size:28px;font-weight:700;line-height:1;\">${d.days_remaining}</div><div style=\"font-size:11px;text-transform:uppercase;margin-top:4px;\">days</div></td>`;\n    html += `<td style=\"padding:16px;\"><div style=\"font-size:16px;font-weight:600;color:#1a1a2e;\">${d.title}</div>`;\n    html += `<div style=\"font-size:13px;color:#6b7280;margin-top:4px;\">${fmtDate(d.start_date)} &rarr; ${fmtDate(d.end_date)}${d.destination ? ' &middot; ' + d.destination : ''}</div>`;\n    if (td.summary) html += `<div style=\"margin-top:8px;font-size:13px;color:#374151;\">${td.summary}</div>`;\n    if (td.hotel) html += `<div style=\"margin-top:4px;font-size:13px;color:#374151;\"><strong>Hotel:</strong> ${td.hotel}</div>`;\n    if (td.packing_list) html += `<div style=\"margin-top:12px;padding:12px;background:#f0f0ff;border-radius:6px;font-size:13px;\"><strong>Packing List:</strong><br>${td.packing_list}</div>`;\n    if (td.flight_info) html += `<div style=\"margin-top:8px;padding:12px;background:#f0fdf4;border-radius:6px;font-size:13px;\"><strong>Flight:</strong> ${td.flight_info}</div>`;\n    if (td.car_rental) html += `<div style=\"margin-top:8px;padding:12px;background:#fefce8;border-radius:6px;font-size:13px;\"><strong>Car Rental:</strong> ${td.car_rental}</div>`;\n    if (td.itinerary) html += `<div style=\"margin-top:8px;padding:12px;background:#fffbeb;border-radius:6px;font-size:13px;\"><strong>Itinerary:</strong><br>${td.itinerary.replace(/\\n/g, '<br>')}</div>`;\n    if (td.checklist) html += `<div style=\"margin-top:8px;padding:12px;background:#fef2f2;border-radius:6px;font-size:13px;\"><strong>Checklist:</strong> ${td.checklist}</div>`;\n    html += `</td></tr></table></td></tr>`;\n  }\n}\n\nif (recurring.length > 0) {\n  html += `<tr><td style=\"padding:24px 32px 8px;\"><h2 style=\"margin:0;font-size:16px;color:#059669;text-transform:uppercase;letter-spacing:1px;\">Recurring Events</h2></td></tr>`;\n  for (const d of recurring) {\n    html += `<tr><td style=\"padding:8px 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e8e8ef;border-radius:8px;\"><tr><td style=\"padding:16px;\">`;\n    html += `<div style=\"font-size:16px;font-weight:600;color:#1a1a2e;\">${d.title}`;\n    for (const rem of d.reminders) {\n      const bg = rem.type === 'today' ? '#dcfce7' : rem.type === 'tomorrow' ? '#dbeafe' : '#f3f0ff';\n      const color = rem.type === 'today' ? '#166534' : rem.type === 'tomorrow' ? '#1e40af' : '#6c63ff';\n      html += ` <span style=\"display:inline-block;margin-left:8px;padding:2px 8px;border-radius:4px;font-size:11px;font-weight:600;background:${bg};color:${color};\">${rem.label}</span>`;\n    }\n    html += `</div>`;\n    html += `<div style=\"font-size:13px;color:#6b7280;margin-top:4px;\">${fmtTime(d.start_time)} &ndash; ${fmtTime(d.end_time)}`;\n    if (d.daysList) html += ` &middot; ${d.daysList}`;\n    if (d.location) html += ` &middot; ${d.location}`;\n    html += `</div>`;\n    if (d.start_date && d.end_date) html += `<div style=\"font-size:12px;color:#9ca3af;margin-top:2px;\">${fmtDate(d.start_date)} &ndash; ${fmtDate(d.end_date)}</div>`;\n    html += `</td></tr></table></td></tr>`;\n  }\n}\n\nif (maintenance.length > 0) {\n  html += `<tr><td style=\"padding:24px 32px 8px;\"><h2 style=\"margin:0;font-size:16px;color:#dc2626;text-transform:uppercase;letter-spacing:1px;\">Maintenance Tracker</h2></td></tr>`;\n  for (const d of maintenance) {\n    const borderColor = d.is_overdue ? '#fca5a5' : '#e8e8ef';\n    const bgColor = d.is_overdue ? 'background-color:#fef2f2;' : '';\n    html += `<tr><td style=\"padding:8px 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid ${borderColor};border-radius:8px;${bgColor}\"><tr><td style=\"padding:16px;\">`;\n    html += `<div style=\"font-size:16px;font-weight:600;color:#1a1a2e;\">${d.title}`;\n    if (d.is_overdue) {\n      html += ` <span style=\"display:inline-block;margin-left:8px;padding:3px 10px;border-radius:4px;font-size:11px;font-weight:700;background-color:#dc2626;color:#ffffff;\">DUE NOW</span>`;\n    } else if (d.is_due_soon) {\n      html += ` <span style=\"display:inline-block;margin-left:8px;padding:3px 10px;border-radius:4px;font-size:11px;font-weight:700;background-color:#f59e0b;color:#ffffff;\">DUE SOON</span>`;\n    }\n    html += `</div>`;\n    html += `<div style=\"font-size:13px;color:#6b7280;margin-top:4px;\">Last done: ${fmtDate(d.last_performed)} &middot; Due: ${fmtDate(d.next_due)} &middot; Every ${d.frequency_days} days`;\n    if (d.category) html += ` &middot; ${d.category}`;\n    html += `</div></td></tr></table></td></tr>`;\n  }\n}\n\nhtml += `<tr><td style=\"padding:24px 32px;text-align:center;font-size:12px;color:#9ca3af;border-top:1px solid #e8e8ef;\">Generated by your n8n Reminder Service &middot; ${dateStr}</td></tr>`;\nhtml += `</table></td></tr></table></body></html>`;\n\nconst subject = [\n  trips.length > 0 ? `${trips.length} trip(s)` : null,\n  recurring.length > 0 ? `${recurring.length} event(s)` : null,\n  maintenance.filter(m => m.is_overdue).length > 0 ? `${maintenance.filter(m => m.is_overdue).length} overdue` : null\n].filter(Boolean).join(', ');\n\nreturn [{ json: { hasContent: true, subject: `Daily Digest: ${subject}`, html, trip_count: trips.length, recurring_count: recurring.length, maintenance_count: maintenance.length } }];"
      },
      "id": "build-html",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-content",
              "leftValue": "={{ $json.hasContent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-content",
      "name": "Has Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"onboarding@resend.dev\",\n  \"to\": [\"YOUR_EMAIL@example.com\"],\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": {{ JSON.stringify($json.html) }}\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO digest_log (trip_count, recurring_count, maintenance_count, success) VALUES ({{ $('Build HTML Email').item.json.trip_count }}, {{ $('Build HTML Email').item.json.recurring_count }}, {{ $('Build HTML Email').item.json.maintenance_count }}, true)",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Digest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1750, 100],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Daily 7 AM": {
      "main": [
        [
          { "node": "Query Trips", "type": "main", "index": 0 }
        ]
      ]
    },
    "Query Trips": {
      "main": [
        [{ "node": "Query Recurring", "type": "main", "index": 0 }]
      ]
    },
    "Query Recurring": {
      "main": [
        [{ "node": "Query Maintenance", "type": "main", "index": 0 }]
      ]
    },
    "Query Maintenance": {
      "main": [
        [{ "node": "Build HTML Email", "type": "main", "index": 0 }]
      ]
    },
    "Build HTML Email": {
      "main": [
        [{ "node": "Has Content?", "type": "main", "index": 0 }]
      ]
    },
    "Has Content?": {
      "main": [
        [{ "node": "Send via Resend", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send via Resend": {
      "main": [
        [{ "node": "Log Digest", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
